body {
    font-family: 'Preahvihear', sans-serif;
    background-color: #000;
    color: #fff;
    position: relative;
    background: transparent;
  }
body::before {
    content: "";
    position: fixed;
    background: #000;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
}
header#header {
    transition: ease-in-out 0.3s;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 997;
    overflow-y: auto;
    justify-content: center;
    text-align: center;
}
#header h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    color: #FFB30D;
}
#header span {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 65px;
    color: #7A7A7A;
}
#header .desgination_text {
    color: #FFB30D;
    border-bottom: 2.5px solid #fff;
}

#header .navbar_list ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin: 35px 0;
}
#header .navbar_list ul li{
    padding: 10px 22px;
}
#header .navbar_list ul li a{
    text-transform: capitalize;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 65px;
    text-decoration: none;
    color: #7A7A7A;   
    position: relative;
}

#header .navbar_list ul li a.active{
    color: #FFB30D;
}   
#header .navbar_list ul li a:before{
    content: "";
    position: absolute;
    width: 0;
    height: 2.5px;
    bottom: -4px;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}
#header .navbar_list ul li a:hover, #header .navbar_list ul li a.active {
    color: #FFB30D;
}
#header .navbar_list ul li a:hover:before, #header .navbar_list ul li:hover > a:before, #header .navbar_list ul li a.active:before {
    visibility: visible;
    width: 50px;
}